body {
    background-image: url("../assets/imgs/foto_cadastro.jpg");
    background-size: cover;
    font-family: 'Urbanist', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.cadastro {
    display: flex;
    align-items: flex-start;
    height: 100%;
    flex-direction: column;
}
.cadastro .paginas_cadastro ul {
    margin-top: 25px;
}
.cadastro .paginas_cadastro a {
    text-decoration: none;
    color:white;
    padding: 10px;
}
.cadastro .paginas_cadastro .voltar_cadastro {
    background-color: orange;
    border-radius: 7px;
    color: white;
}
.cadastro .paginas_cadastro .voltar_cadastro:hover {
    background-color: black;
    transition: 310ms;
}
.cadastro .paginas_cadastro a:hover {
    background-color: black;
    color: white;
    transition: 310ms;
    border-radius: 5px;
}
.cadastro .dados_cadastro {
    display: flex;
    justify-self: center;
    background-color: rgb(187, 184, 184);
    flex-direction: column;
    margin: 20px 0px 20px 400px;
    opacity: 0.9;
    border: 3px solid black;
    border-radius: 10px;
    align-items: flex-end;
    padding: 5px;
}
.cadastro .dados_cadastro .titulo_cadastro {
    display: flex;
    align-self: center;
}
.cadastro .dados_cadastro .titulo_cadastro h2 {
    font-family: 'Bangers', cursive;
    color: black;
    font-size: 32px;
}
.cadastro .dados_cadastro .campo_cadastro {
    padding: 19.5px;
} 
.cadastro .dados_cadastro .campo_cadastro input {
    border: 2px solid black;
    border-radius: 13px;
    height: 25px;
    width: 200px;
    
}
.cadastro .dados_cadastro .campo_cadastro b {
    font-size: 19px;
}
.cadastro .dados_cadastro .btn_cadastrar {
    align-self: center;
    padding: 5px;
}
.cadastro .dados_cadastro .btn_cadastrar button {
    background-color: black;
    color: white;
    font-family: 'Bangers', cursive;
    height: 50px;
    width: 120px;
    border-radius: 8px;
    font-size: 21px;
}
.cadastro .dados_cadastro .btn_cadastrar button:hover {
    background-color: orange;
    color: white;
    transition: 250ms;
}
.cadastro .dados_cadastro .link_login {
    padding: 8px;
    align-self: center;
}
.cadastro .dados_cadastro .link_login p {
    font-size: 19px;
}
.mensagemErro {
    display: none;
    background-color: orange;
    width: 35vh;
    height: 100px;
    margin: 15px 0px 70px 15px;
    align-self: flex-start;
    padding: 10px;
    border: 2px solid black;
    border-radius: 6px;
}
.mensagemErro p {
    margin-bottom: 10px;
}