body {
    display: flex;
    background-color: rgb(61, 60, 60);
    margin: 0;
    font-family: 'Urbanist', sans-serif;
}
.navbar-lateral {
    display: flex;
    background-color: black;
    width: 190px;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    color: white;
}
.navbar-lateral img {
    margin: 5px 0px 0px 0px;
    height: 18%;
    width: 60%;
}
.navbar-lateral .msg_user {
    display: flex;
    padding: 5px;
}
.navbar-lateral .campo_navbar {
    padding: 10px;
}
.navbar-lateral .campo_navbar a {
    text-decoration: none;
    color: white;
}
.navbar-lateral .campo_navbar a:hover {
    text-decoration: underline;
    transition: 310ms;
}
.navbar-lateral .btn-logout { /* botão de logout */
    display: flex;
    margin-top: 180px;
}
.quizzes {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    background-image: url("../assets/imgs/imagem2_selecQuiz.png");
    background-size: cover;
}
.quizzes .msg_quizzes {
    flex-direction: row;
    background-color: rgb(61, 60, 60);
}
.quizzes .msg_quizzes h4 {
    display: flex;
    font-family: 'Bangers', cursive;
    font-size: 35px;
    color: white;
    justify-content: center;
    align-items: flex-start;
}
.quizzes .cards_quizzes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 120px 0px 0px 0px;
}
.quizzes .cards_quizzes a {
    text-decoration: none;
}
.quizzes .cards_quizzes .box-quiz {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
}
.quizzes .cards_quizzes .box-quiz:hover {
    height: 220px;
    width: 220px;
    transition: 270ms;
}
.quizzes .cards_quizzes .box-quiz .quiz_rap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0px 0px 0px;
}
.quizzes .cards_quizzes .box-quiz .quiz_rap b {
    color: white;
    text-decoration: none;
}
.quizzes .cards_quizzes .box-quiz .quiz_rap img {
    height: 120px;
    width: 100px;
    padding: 10px;
}
.quizzes .cards_quizzes .box-quiz .quiz_dj {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0px 0px 0px;
}
.quizzes .cards_quizzes .box-quiz .quiz_dj b {
    text-decoration: none;
    color: white;
}
.quizzes .cards_quizzes .box-quiz .quiz_dj img {
    height: 120px;
    width: 120px;
    padding: 10px;
}
.quizzes .cards_quizzes .box-quiz .quiz_break {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0px 0px 0px;
}
.quizzes .cards_quizzes .box-quiz .quiz_break b {
    text-decoration: none;
    color: white;
}
.quizzes .cards_quizzes .box-quiz .quiz_break img {
    height: 120px;
    width: 120px;
    padding: 10px;
}
.quizzes .cards_quizzes .box-quiz .quiz_graffiti {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0px 0px 0px;
}
.quizzes .cards_quizzes .box-quiz .quiz_graffiti b {
    text-decoration: none;
    color: white;
}
.quizzes .cards_quizzes .box-quiz .quiz_graffiti img {
    height: 120px;
    width: 120px;
    padding: 10px;
}
.quizzes .cards_quizzes .box-quiz .quiz_especial {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0px 0px 0px;
}
.quizzes .cards_quizzes .box-quiz .quiz_especial b {
    text-decoration: none;
    color: white;
}
.quizzes .cards_quizzes .box-quiz .quiz_especial img {
    height: 120px;
    width: 120px;
    padding: 10px;
}