body {
    background-color: rgb(61, 60, 60);
    font-family: 'Urbanist', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.cadastro {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    flex-direction: column;
}
.cadastro .paginas_cadastro ul {
    margin-top: 25px;
}
.cadastro .paginas_cadastro a {
    text-decoration: none;
    color:black;
    padding: 10px;
}
.cadastro .paginas_cadastro .voltar_cadastro {
    background-color: orange;
    border-radius: 7px;
    color: white;
}
.cadastro .paginas_cadastro .voltar_cadastro:hover {
    background-color: black;
    transition: 310ms;
}
.cadastro .paginas_cadastro a:hover {
    background-color: black;
    color: white;
    transition: 310ms;
    border-radius: 5px;
}
.cadastro .dados_cadastro {
    display: flex;
    background-color: white;
    flex-direction: column;
    margin: 0px 0px 0px 15px;
}
.cadastro .dados_cadastro .titulo_cadastro {
    display: flex;
    justify-content: center;
}
.cadastro .dados_cadastro .titulo_cadastro h2 {
    font-family: 'Bangers', cursive;
    color: black;
    font-size: 32px;
}
.cadastro .dados_cadastro .campo_cadastro {
    padding: 19.5px;
    margin: 0px 10px 0px 0px;
} 
.cadastro .dados_cadastro .campo_cadastro input {
    border: 2px solid black;
    border-radius: 13px;
    margin: 0px 15px 0px 25px;
    height: 25px;
    width: 200px;
}
.cadastro .dados_cadastro .campo_cadastro .input_dtNasc {
    margin: 0px 30px 0px 0px;
}
.cadastro .dados_cadastro .campo_cadastro b {
    font-size: 19px;
}
.cadastro .dados_cadastro .btn_cadastrar button {
    background-color: black;
    color: white;
    font-family: 'Bangers', cursive;
    margin: 20px 0px 0px 211px;
    height: 50px;
    width: 120px;
    border-radius: 8px;
    font-size: 21px;
}
.cadastro .dados_cadastro .btn_cadastrar button:hover {
    background-color: orange;
    color: white;
    transition: 250ms;
}
.cadastro .dados_cadastro .link_login {
    margin: 25px 0px 0px 30px;
}
.cadastro .dados_cadastro .link_login p {
    font-size: 19px;
    margin: 0px 0px 0px 8px;
}
.imagem_cadastro {
    display: flex;
    justify-content: flex-end;
}
.imagem_cadastro img {
    height: 660px;
    width: 750px;
}