body {
    background-color: black;
}
.cabecalho {
    display: flex;
    color: white;
    justify-content: space-between;
}
.cabecalho .titulo {
    align-items: flex-start;
    margin-left: 30px;
    font-size: 20px;
}
.cabecalho .paginas {
    display: flex;
    font-size: 20px;
}
.cabecalho .paginas ul {
    flex-direction: row;
    margin-right: 20px;
}
.cabecalho .paginas a {
    margin: 10px;
}
