body {
    background-color: black;    
    font-family: 'Urbanist', sans-serif;
    display: flex;
    flex-direction: row;
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px 120px 0px 0px;
    margin-bottom: 0;
}
.login .paginas {
    margin-top: 30px;
}
.login .paginas a {
    text-decoration: none;
    color: white;
    padding: 10px;
}
.login .paginas a:hover {
    background-color: white;
    color: black;
    transition: 310ms;
    border-radius: 5px;
}
.login .paginas .login_voltar {
    background-color: orange;
    color: white;
    border-radius: 7px;
    padding: 10px;
}
.login .paginas .login_voltar:hover {
    background-color: white;
    color: black;
    transition: 250ms;
}
.login .titulo_login {
    margin: 50px 0px 0px 120px;
    padding: 20px;
}
.login .titulo_login h2 {
    font-family: 'Bangers', cursive;
    color: white;
}
.login .dados_login {
    flex-direction: column;
    height: 450px;
    border-radius: 20px 0px 0px 20px;
    width: 440px;
}
.login .dados_login h3 {
    font-family: 'Bangers', cursive;
    padding: 20px;
    margin: 0px 0px 15px 180px;
    color: white;
    font-size: 23.5px;
}
.login .dados_login .campo_login {
    padding: 20px;
    margin: 0px 0px 0px 90px;
    font-size: 20px;
    color: white;
}
.login .dados_login .campo_login input {
    border-radius: 4px;
    height: 20px;
    width: 185px;
}
.login .dados_login .btn_entrar {
    display: flex;
    justify-content: center;
    padding: 40px;
    margin: 0px 0px 0px 60px;
}
.login .dados_login .btn_entrar button {    
    font-family: 'Bangers', cursive;
    background-color: orange;
    color: white;
    border-radius: 8px;
    padding: 5px;
    height: 40px;
    width: 120px;
    font-size: 15px;
}
.login .dados_login .btn_entrar button:hover {
    background-color: black;
    color: white;
    transition: 310ms;
}
.imagem_login {
    margin: 0;
}
.imagem_login img{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}